@font-face {
    font-family: "ClashGrotesk";
    src: url("./assets/fonts/ClashGrotesk-Bold.woff2") format("woff2"),
         url("./assets/fonts/ClashGrotesk-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk";
    src: url("./assets/fonts/ClashGrotesk-Semibold.woff2") format("woff2"),
         url("./assets/fonts/ClashGrotesk-Semibold.ttf") format("truetype"),;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "ClashGrotesk";
    src: url("./assets/fonts/ClashGrotesk-Medium.woff2") format("woff2"),
         url("./assets/fonts/ClashGrotesk-Medium.ttf") format("truetype"),;
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "ClashGrotesk";
    src: url("./assets/fonts/ClashGrotesk-Regular.woff") format("woff"),
         url("./assets/fonts/ClashGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ClashGrotesk', sans-serif;
  overflow-x: hidden;
}


 .container {
        width: 100%;
        margin: 0 auto; 
        max-width: 1280px;
    }
  
    main {
        display: flex;
        flex-direction: column;
      justify-content: center;
    }

  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

  .grid-column-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
  }

.navbar {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(15px);
    padding: 21px 50px 21.68px 50px;
    position: fixed;
    width: 80%;
    max-width: 100%;
    top: 3%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: 0 auto;
}

.navbar .container {
    display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
margin: 0 auto;
}

.navbar .logo {
    /* font-size: 1.5em; */
    color: white;
    text-decoration: none;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    text-decoration: none;
    color: #212337;
  text-align: center;
   font-family: "ClashGrotesk";
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.navbar .nav-links a:hover {
    color: #f39c12;
}

.navbar .menu-toggle {
    display: none;
  }

/* Hero section styles */
.hero {
    background: url('./assets/images/Rectangle.svg') no-repeat center center/cover;
    color: white;
    height: 557px;
    padding: 15% 5% 0 5%;
  
}

/* .hero-content {
    max-width: 800px;
} */

.hero h1 {
    color: #FFF;
    font-family: "ClashGrotesk";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.hero p {
    color: #FFF;
    font-family: "ClashGrotesk";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 31.5px; 
    margin-bottom: 30px
}

.hero-image {
    width: 100%;
height: auto;
max-width: 100%;
object-fit: cover;
display: flex;
}

.mobile-hero-image {
    display: none;
}

.box-image {
    display: flex;
    align-items: start
}

.hero-content{
    width: 500px;
    max-width: 100%;
}

.cta-button {
    border-radius: 6px;
    background: #101828;
    text-decoration: none;
    display: inline-flex;
    padding: 19px 57px 21px 41px;
    align-items: center;
    transition: background 0.3s ease;
    color: #FFF;
    text-align: center;
    font-family: "ClashGrotesk";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 122.222% */
}

.cta-button:hover {
    background: #e67e22;
}

.payment-section {
    padding: 5% 0% 0% 5%;
}

.payment-content {
    display: flex;
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

 .payment-content h2 {
color: #333333;
font-size: 51.68px;
font-family: ClashGrotesk;
font-weight: 600;
/* line-height: 58px; */
word-wrap: break-word;
text-align: center;
margin-bottom: 0;
} 

.payment-content h3{
    color: var(--Black, #333);
font-family: "ClashGrotesk";
font-size: 47.656px;
font-style: normal;
font-weight: 600;
line-height: normal; 
text-transform: capitalize;

}


.payment-section h3{
    color: var(--Black, #333);
font-family: "ClashGrotesk";
font-size: 47.656px;
font-style: normal;
font-weight: 600;
/* line-height: 54px;  */
text-transform: capitalize;
}

.payment-section p{
    color: #333;
    font-family: "ClashGrotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
}


.payment-section small{
    color: var(--Main, #8D5FFF);
    font-family: "ClashGrotesk";
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.5px; /* 150% */
    text-transform: uppercase;
}


.payment-image {
    width:  420px;
    height: 770px;
    object-fit: 'cover';
    display: flex;
}

.mobile-image {
    display: none;
}

.payment-background {
    border-radius: 20px;
background: var(--Purple-BG, #F4EFFF);
width: 690px;
height: 713px !important;
max-width: '100%';
display: flex;
flex-direction: column;
padding: 10% 10% 0 15%;
}

.amount-image {
    width: 355.89px;
height: 339.713px;
max-width: 100%;

}
.payment-flex {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-top: 0;
    padding: 0;
    height: 80px;

}

.payment-flex span {
    color: #8D5FFF;
font-size: 49.36px;
font-family: ClashGrotesk;
font-weight: 700;
line-height: normal;
word-wrap: break-word
}

.content-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.bills-background {
    width: 1153px;
    max-width: 100%;
    height: 100%;
    position: relative;
  background-color: #F4F3F5;
  background-image:  url('./assets/images/Background.png');
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center ;
  display: flex;
  justify-content: space-between;
  padding: 3% 5% 0 5%;
}

.text-content  {
 width: 376px;
 max-width: 100%;
}


.text-content h3 {
    color: var(--Black, #333);
    font-family: "ClashGrotesk";
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px; /* 111.111% */
}

.image {
    width: 225px;
    height: 225px;
    object-fit: cover;
    max-width: 100%;
}

.bills-image-wrapper {
    position: relative;
    top: 6px
}

.section {
    padding: 5% 0% 0% 5%;

}

.green-section {
    width: 1153px;
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #A7D4A9;
  display: flex;
  padding: 3% 0% 0 5%;
justify-content: space-around;
align-items: end;
}

.green-section  img{
    flex-shrink: 0;
    max-width: 100%;
    width: 322px;
    margin-bottom: -5px;
}


.green-content {
    width: 515px;
    max-width: 100%;
    position: relative;

}

.green-content h3 {
    color: #212337;
font-family: "ClashGrotesk";
font-size: 70px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 0;
margin-top: 0;
}

.green-content p {
    color: var(--Black-2, rgba(51, 51, 51, 0.60));
font-family: "ClashGrotesk";
font-size: 34.316px;
font-style: normal;
font-weight: 500;
line-height: 47.25px;
margin-bottom: 60px;
}

.green-image-wrapper{
    position: relative;
}

.invoice-section {
    width: 1153px;
    max-width: 100%;
    height: 100%;
    position: relative;
    background-color: #FDCD81;
    background-image:  url('./assets/images/Background.png');
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center ; */
    display: flex;
    /* justify-content: space-between; */
    padding: 5% 5% 0 5%;
    gap: 10rem
}

.invoice-section .green-content {
    width: 432px;
    max-width: 100%;
}


.invoice-section .green-content  p{
    color: var(--Black-2, rgba(51, 51, 51, 0.60));
    font-family: "ClashGrotesk";
    font-size: 34.316px;
    font-style: normal;
    font-weight: 500;
    line-height: 47.25px;
    margin-top: 10px;
}

.invoice-section img {
    width: 393px;
    max-width: 100%;
    margin-bottom: -5px;
}


.download-section {
    width: 1153px;
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #7436F5;
   background-image: url('./assets/images/Union.svg');
   background-repeat: no-repeat;
   background-position: right;
    display: flex;
    padding: 3% 5% 0 5%;
    justify-content: space-between;
    /* align-items: center; */
}

.download-image {
    width: 443px;
    max-width: 100%;
    margin-bottom: -5px;
}

.download-content {
    width: 400px;
    max-width: 100%;
}

.download-content h3 {
    color: #FFF;
    font-family: "ClashGrotesk";
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: 52.8px; /* 120% */
}


.download-content p {
    color: #FFF;
    font-family: "ClashGrotesk";
    font-size: 21.828px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.92px; /* 137.071% */
}

.download {
    display: flex;
    gap: 20px;
    align-items: center;
}

.download a {
    cursor: pointer;
}

.download img {
    width: 201px;
    height: 63px;
    max-width: 100%;
    
}

.google-btn {
    width: 226px;
    height: 63px;
    max-width: 100%;
}

.social-box {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.social-box a {
    text-decoration: none;
}

.footer-text {
    color: #212337;
    font-family: ClashGrotesk;
    font-size: 19.2px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    text-decoration: none;
}

.footer-flex {
    display: flex;
    flex-direction: column;
    gap: 10px
}

.tagline {
    color: #808080;
text-align: right;
font-family: "ClashGrotesk";
font-size: 16.669px;
font-style: normal;
font-weight: 500;
line-height: 22px; /* 131.984% */
}

.line-break {
    border-top: 0.8px solid #EBEBEB;
}

.dateformat {
    color: #7436F5;
    text-align: center;
    font-family: ClashGrotesk;
    font-size: 13.275px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom 10px;
    margin-top: 10px;
}

.payment-background-content{
    width: 544px; 
    max-width: 100%; 
    margin-bottom: 30px;"
}


/* Small devices (portrait tablets and below) */
@media (max-width: 768px) {
    .navbar {
        padding: 10px 20px;
        width: 80%;
    }
    .navbar .nav-links {
        display: none;
      }
    
      /* Fullscreen mobile nav when active */
      .navbar.active .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: -40px;
        right: 0;
        left: auto;
        width: 50%;
        height: 602px ;
        background: #fff;
        justify-content: start;
        align-items: start;
        z-index: 10;
        transition: all 0.3s ease-in-out;

      }
    
      .navbar.active .nav-links li {
        margin: 20px 0;
      }
    
      .navbar .menu-toggle {
        display: block;
        font-size: 24px;
        color: #333;
        cursor: pointer;
      }
    
      .navbar .nav-links .close-nav {
        position: absolute;
        top: -20px;
        right: 30px;
        font-size: 40px;
        color: #333;
        cursor: pointer;
    
      }

    .container-grid{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .hero-image {
        display: none
    }

.mobile-hero-image {
    display: flex;
}


.section {
    padding: 2%;
}

    .hero-content {
        max-width: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 30px;
        
    }

    .hero h1 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 0;
    }

    .hero p {
        font-size: 18px;
        text-align: center;
    }

    .cta-button {
        padding: 15px 30px;
        font-size: 16px;
    }

    .payment-section {
        padding: 3%;
    }

    .payment-content h2 {
        font-size: 36px;
    }

    .payment-section h3 {
        font-size: 32px;
    }

    .payment-section p {
        font-size: 16px;
    }

    .mobile-image {
        width: 100%;
        height: auto;
        display: flex;
    }

    .payment-image {
        display: none;
    }

    .green-section {
        flex-direction: column;
        padding: 6% 5% 0 5%;
        align-items: center;
        gap: 0;
        width: auto;
    }

.green-image-wrapper {
    order: 1;
}

    .green-content {
        width: 247px;
    }

    .green-content h3 {
        font-size: 30px;
        line-height: normal;
    }

    .green-content p {
        font-size: 16px;
        line-height: normal;
    }

    .invoice-section {
        flex-direction: column;
        padding: 6% 5% 0 5%;
        align-items: center;
        gap: 0;
        width: auto;
    }

    .invoice-section .green-content  p{
      font-size: 16px;
      line-height: normal;
    }

    .download-section {
        flex-direction: column;
        width: auto;
        align-items: center;
        justify-content: center;
        gap: 0;
        padding: 6% 5% 5% 5%;

    }

    .download-content {
        width: auto;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .download-content h3 {
        font-size: 36px;
        line-height: 36px;
        margin-bottom: 0px;
    }

    .download-content p {
        font-size: 20px;
        text-align: center;
    }

    .download-image {
        display: none;
    }

    .bills-background {
        width: auto;
        max-width: 100%;
        height: 100%;
        position: relative;
      background-color: #F4F3F5;
      background-image:  url('./assets/images/Background.png');
      border-radius: 20px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 3% 5% 0 5%;
    }

    .text-content h3 {
        font-size: 30px;
        line-height: 31.373px;
    }

    .grid-column-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-content: center;
        align-items: center;
      }

      .payment-image{
        width: 389px;
       height: 406px;
        max-width: 100%;
    }
    .payment-background {
        border-radius: 20px;
    background: var(--Purple-BG, #F4EFFF);
    width: auto;
    height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4% 5% 5% 4%;
    }
    
.payment-background-content{
    width: auto;
    max-width: 100%; 
    margin-bottom: 30px;"
}

.amount-image{
    width: auto;
height: auto;
max-width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto; 
    max-width: 100%;
}

.download img {
    width: 138px;
    height: 43px;
    max-width: 100%;
}

.google-btn{
    width: 138px;
    height: 43px;
    max-width: 100%;
 
}
.social-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-flex {
    flex-direction: column;
    justify-content: center;
align-items: center;
}
.footer-text{
    font-size: 19.2px;
font-style: normal;
}

.tagline {
    text-align: center;
    fon-size: 12px;
}

.logo-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.payment-flex span {
    font-size: 40px;
}
.payment-flex {
    height: 50px;
    padding: 0;
    margin-top: 0;
    display: flex;
    align-items: center;
    gap: 3px;
}
.arrow-image{
 height: 30px;
 weight: 30px;
}

.payment-content h3{
 font-size: 40px;
 margin-bottom 0;
}

}

/* Large devices (desktops and above) */
